<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Home</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="../static/js/bootstrap-4.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="../static/js//bootstrap-4.0.0/js/bootstrap.min.js"></script>
</head>
<body>	
	<div class="container">
		<div class="page-header">
			<h1>Job Results</h1>
		</div>
		<div class="row">
			<div class="col-md-12 column">
				<table class="table">
					<thead>
						<tr>
							<th>KEYWORD</th>
							<th>MONTHLYSALARY</th>
							<th>WORKINGPLACE</th>
							<th>RELEASEDATE</th>
							<th>JOBTYPE</th>
							<th>WORKEXPERIENCE</th>
							<th>LOWESTDEGREE</th>
							<th>RECRUITMENTNUMBER</th>
							<th>POSITIONCATEGORY</th>
							<th>DEMAND</th>
						</tr>
					</thead>
					<tbody>
						{% for job in joblist %}
							<tr>
								<th> {{ job[0] }} </th>
								<th> {{ job[1] }} </th>
								<th> {{ job[2] }} </th>
								<th> {{ job[3] }} </th>
								<th> {{ job[4] }} </th>
								<th> {{ job[5] }} </th>
								<th> {{ job[6] }} </th>
								<th> {{ job[7] }} </th>
								<th> {{ job[8] }} </th>
								<th> {{ job[9][ : 10] }} </th>
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>